@font-face {
  font-family: "AmazonEmber_Rg";
  src: url("./font/Ember/AmazonEmber_Rg.ttf");
}
@font-face {
  font-family: "AmazonEmber_Bd";
  src: url("./font/Ember/AmazonEmber_Bd.ttf");
}
@font-face {
  font-family: "AmazonEmber_Lt";
  src: url("./font/Ember/AmazonEmber_Lt.ttf");
}
p {
  font-family: "AmazonEmber_Rg", Arial, sans-serif;
  font-weight: lighter;
}
a {
  text-decoration: none;
  font-family: "AmazonEmber_Rg", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.strong {
  font-family: "AmazonEmber_Bd", Arial, sans-serif;
  font-weight: bold;
}
.ligth {
  font-family: "AmazonEmber_Lt", Arial, sans-serif;
  font-weight: lighter;
}
.navbar {
  background-color: #131921;
  padding: 0px;
  margin-right: 0;
}
.navbar a {
  color: white;
}
nav a:hover {
  color: white;
}
.search_all {
  background-color: #f3f3f3;
  color: #555 !important;
  border-radius: 5px 0 0 5px;
}
.search_icon {
  background-color: #febd69;
}
